<h2 class="header">Latest activity in your classes</h2>

<div class="content">
  <div id="courses">

    <% @courses.each do |course| %>
      <div class="course">
        <h3 class="header"><%= course.title %><span class="grey">- announcements</span></h3>

        <div class="course-day">
          <ul>
            <% course.assignments.each do |assignment| %>
              <li><%= link_to assignment.name + ' is due in ' + distance_of_time_in_words_to_now(assignment.due), course_path(assignment.course_id)%></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>
  <!-- end courses -->
</div>
<!-- end content -->
