<div id="main">

  <div class="col" id="left-col">
    <h2 class="header">Latest activity in your classes</h2>

    <div class="content">
      <div id="calender">
        <h3 class="header">This week</h3>

        <div id="first" class="day">
          <h4>Sun.</h4>
          <ul class="active">
            <li><a href="#">CS:321 homework</a></li>
          </ul>
        </div>

        <div class="day">
          <h4>Mon.</h4>
          <ul>
            <li><a href="#">Math:152 homework</a></li>
            <li><a href="#">Chem:121A exam</a></li>
          </ul>
        </div>

        <div class="day">
          <h4>Tues.</h4>
          <ul>
          </ul>
        </div>


        <div class="day">
          <h4>Wed.</h4>
          <ul>
          </ul>
        </div>


        <div class="day">
          <h4>Thurs.</h4>
          <ul>
            <li><a href="#">CS:340 exam</a></li>
            <li><a href="#">Math:321 homework</a></li>
          </ul>
        </div>


        <div class="day">
          <h4>Fri.</h4>
          <ul>
          </ul>
        </div>


        <div id="last" class="day">
          <h4>Sat.</h4>
          <ul>
            <li><a href="#">CS:321 group meeting</a></li>
          </ul>
        </div>

      </div>
      <!-- end calender -->

      <div id="courses">

        <div class="course">
          <h3 class="header">Math:152 <span class="grey">- announcements</span></h3>

          <div class="course-day">
            <h3>Today</h3>
            <ul>
              <li><a href="#">Grades for Exam I were posted</a></li>
              <li><a href="#">A comment was posted on Homework I</a></li>
            </ul>
          </div>

          <div class="course-day">
            <h3>Yesterday</h3>
            <ul>
              <li><a href="#">A video tutorial was uploaded.</a></li>
            </ul>
          </div>

        </div>
        <!--  end course -->

        <div class="course">
          <h3 class="header">Chem:121A <span class="grey">- announcements</span></h3>

          <div class="course-day">
            <h3>Yesterday</h3>
            <ul>
              <li><a href="#">Grades for Assignment II were posted.</a></li>
            </ul>
          </div>

        </div>
        <!--  end course -->

        <div class="course">
          <h3 class="header">CS:321 <span class="grey">- announcements</span></h3>

          <div class="course-day">
            <h3>Thursday, October 29th</h3>
            <ul>
              <li><a href="#">Grades for Statistics II were posted.</a></li>
            </ul>
          </div>

        </div>
        <!--  end course -->

        <div class="course">
          <h3 class="header">Math:321 <span class="grey">- announcements</span></h3>

          <div class="course-day">
            <h3>Tuesday, October 27th</h3>
            <ul>
              <li><a href="#">A comment was posted on Assignment 3.</a></li>
            </ul>
          </div>

        </div>
        <!--  end course -->

      </div>
      <!-- end courses -->
    </div>
    <!-- end content -->

  </div>
  <!-- end left-col -->

  <div class="col" id="right-col">

    <a class="button" href="#">
      <div id="add">
        <p>New quick link</p>
      </div>
    </a>

    <div id="links">
      <h3>Quick Links:</h3>
      <ul class="links">
        <li><a href="#">Submit CS:321 homework</a></li>
        <li><a href="#">View Math:152 grades</a></li>
        <li><a href="#">Download CS:340 homework</a></li>
        <li><a href="#">View Chem:121A syllabus</a></li>
      </ul>
      <small><a href="#">Edit quick links</a></small>
    </div>

  </div>
  <!-- end right-col -->

</div>
<!-- end main -->

