<h2 class="header">All assignments</h2>

<table class="users">
  <tr>
    <th>Name</th>
    <th>Due Date</th>
    <th>Course</th>
  </tr>

  <% @assignments.each do |assignment| %>
    <tr>
      <td>
        <%= link_to assignment.name, admin_assignment_path(assignment)%>
      </td>
      <td>
        <%= 'in ' + distance_of_time_in_words_to_now(assignment.due) %>
      </td>
      <td>
        <%= Course.find(assignment.course_id).title %>
      </td>
    </tr>
  <% end %>

</table>


<% content_for :sidebar do %>
  <%= link_to '<div id="add">New assignment</div>', 
    new_admin_assignment_path, :class => 'button' %>
<% end %>


