<h2 class="header"><%= @course.title %></h2>

<div class="content">

  <div class="section">
    <h3 class="header">Grades</h3>
  </div>

  <div class="section">
    <h3 class="header">Materials</h3>
  </div>

  <div class="section">
    <h3 class="header">Assignments</h3>
    <ul>
      <% @course.assignments.each do |assignment| %>
        <li><%= link_to assignment.name, assignment.upload.url %></li>
      <% end %>
    </ul>
  </div>

  <div class="section">
    <h3 class="header">Course information</h3>
    <%= @course.information %>
  </div>
</div>
