<h2 class="header">Listing all users</h2>

<table class="users">
  <tr>
    <th>Username</th>
    <th>E-mail</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.username, admin_user_path(user)%>
      </td>
      <td>
        <%= user.email %>
      </td>
    </tr>
  <% end %>

</table>

<% content_for :sidebar do %>
  <%= link_to '<div id="add"><p>Create new user</p></div>', 
    new_admin_user_path, :class => 'button' %>
  
<% end %>
